nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: .8rem;

    button {
        background: transparent;
        cursor: pointer;
        border: 2px solid lightgrey;
        padding: .5rem;
        transition: all .3s ease;
        height: 70%;

        &:hover {
            background: lightgrey;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}